
**/.DS_Store
**/*.pyc

**/*.err
**/*.log
**/*.out
**/*.rpt

**/*.env
**/*.docx
**/*.pdf
**/*.xlsx

**/db.sqlite3
**/__pycache__

.secrets-db-password
.vscode/

local/stage/*.bkp
local/tmp/*
local/python/__pycache__/
